goOffer/goOffer-war/src/conf/xml-resources/web-service-references/LoginRegisterService/wsdl/localhost_53547/LoginRegisterService/LoginRegisterService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.goOffer/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.goOffer/" name="LoginRegisterService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.goOffer/" schemaLocation="http://localhost:53547/LoginRegisterService/LoginRegisterService?xsd=1"/>
</xsd:schema>
</types>
<message name="registerCompany">
<part name="parameters" element="tns:registerCompany"/>
</message>
<message name="registerCompanyResponse">
<part name="parameters" element="tns:registerCompanyResponse"/>
</message>
<message name="loginCompany">
<part name="parameters" element="tns:loginCompany"/>
</message>
<message name="loginCompanyResponse">
<part name="parameters" element="tns:loginCompanyResponse"/>
</message>
<message name="loginUser">
<part name="parameters" element="tns:loginUser"/>
</message>
<message name="loginUserResponse">
<part name="parameters" element="tns:loginUserResponse"/>
</message>
<message name="registerUser">
<part name="parameters" element="tns:registerUser"/>
</message>
<message name="registerUserResponse">
<part name="parameters" element="tns:registerUserResponse"/>
</message>
<portType name="LoginRegisterService">
<operation name="registerCompany">
<input wsam:Action="http://service.goOffer/LoginRegisterService/registerCompanyRequest" message="tns:registerCompany"/>
<output wsam:Action="http://service.goOffer/LoginRegisterService/registerCompanyResponse" message="tns:registerCompanyResponse"/>
</operation>
<operation name="loginCompany">
<input wsam:Action="http://service.goOffer/LoginRegisterService/loginCompanyRequest" message="tns:loginCompany"/>
<output wsam:Action="http://service.goOffer/LoginRegisterService/loginCompanyResponse" message="tns:loginCompanyResponse"/>
</operation>
<operation name="loginUser">
<input wsam:Action="http://service.goOffer/LoginRegisterService/loginUserRequest" message="tns:loginUser"/>
<output wsam:Action="http://service.goOffer/LoginRegisterService/loginUserResponse" message="tns:loginUserResponse"/>
</operation>
<operation name="registerUser">
<input wsam:Action="http://service.goOffer/LoginRegisterService/registerUserRequest" message="tns:registerUser"/>
<output wsam:Action="http://service.goOffer/LoginRegisterService/registerUserResponse" message="tns:registerUserResponse"/>
</operation>
</portType>
<binding name="LoginRegisterServicePortBinding" type="tns:LoginRegisterService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="registerCompany">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loginCompany">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loginUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registerUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="LoginRegisterService">
<port name="LoginRegisterServicePort" binding="tns:LoginRegisterServicePortBinding">
<soap:address location="http://localhost:53547/LoginRegisterService/LoginRegisterService"/>
</port>
</service>
</definitions>