goOffer/goOffer-ejb/src/conf/wsdl/localhost_8080/LoginRegisterService/LoginRegisterService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><wsdl:definitions xmlns:tns="http://com.liuxiang.xfireDemo/HelloService" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://com.liuxiang.xfireDemo/HelloService">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://com.liuxiang.xfireDemo/HelloService">
            <xsd:element name="register">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="name" nillable="true" type="xsd:string"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="password" nillable="true" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="registerResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="registerCompany">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="name" nillable="true" type="xsd:string"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="password" nillable="true" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="registerCompanyResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="login">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="name" nillable="true" type="xsd:string"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="password" nillable="true" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="loginResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="registerResponse">
        <wsdl:part name="parameters" element="tns:registerResponse"/>
    </wsdl:message>
    <wsdl:message name="registerRequest">
        <wsdl:part name="parameters" element="tns:register"/>
    </wsdl:message>
    <wsdl:message name="registerCompanyResponse">
        <wsdl:part name="parameters" element="tns:registerCompanyResponse"/>
    </wsdl:message>
    <wsdl:message name="registerCompanyRequest">
        <wsdl:part name="parameters" element="tns:registerCompany"/>
    </wsdl:message>
    <wsdl:message name="loginResponse">
        <wsdl:part name="parameters" element="tns:loginResponse"/>
    </wsdl:message>
    <wsdl:message name="loginRequest">
        <wsdl:part name="parameters" element="tns:login"/>
    </wsdl:message>
    <wsdl:portType name="LoginRegisterServicePortType">
        <wsdl:operation name="register">
            <wsdl:input name="registerRequest" message="tns:registerRequest"/>
            <wsdl:output name="registerResponse" message="tns:registerResponse"/>
        </wsdl:operation>
        <wsdl:operation name="registerCompany">
            <wsdl:input name="registerCompanyRequest" message="tns:registerCompanyRequest"/>
            <wsdl:output name="registerCompanyResponse" message="tns:registerCompanyResponse"/>
        </wsdl:operation>
        <wsdl:operation name="login">
            <wsdl:input name="loginRequest" message="tns:loginRequest"/>
            <wsdl:output name="loginResponse" message="tns:loginResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="LoginRegisterServiceHttpBinding" type="tns:LoginRegisterServicePortType">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="register">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="registerRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="registerResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="registerCompany">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="registerCompanyRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="registerCompanyResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="login">
            <wsdl:input name="loginRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="loginResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="LoginRegisterService">
        <wsdl:port name="LoginRegisterServiceHttpPort" binding="tns:LoginRegisterServiceHttpBinding">
            <!--<wsdlsoap:address location="http://localhost:53547/LoginRegisterService/LoginRegisterService"/>-->
            <wsdlsoap:address location="http://localhost:8080/LoginRegisterService/LoginRegisterService"/>
            
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>